<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
</head>
<body ng-app="schoolApp">

<div ng-controller="routinCtrl">

    <button ng-click="routin.showSelection()">show</button>
    <br/>
    <table class="table table-bordered table-condensed">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th ng-repeat="period in routin.periods">{{period.name}}</th>
        </tr>
        </thead>
        <tr ng-repeat="day in routin.days">
            <th>{{day.name}}</th>
            <td>
                <table class="table table-condensed table-bordered">
                    <tr ng-repeat="claz in routin.classes">
                        <td>{{claz.name}}</td>
                    </tr>
                </table>
            </td>
            <td ng-repeat="period in routin.periods">
                <table class="table table-bordered table-condensed">
                    <tr ng-repeat="claz in routin.classes">
                        <td><select
                                ng-model="routin.selection[routin.getClassIdentifier(day, period, claz)].subject"
                                ng-options="subject as subject.name for subject in routin.subjects"></select></td>
                        <td><select
                                ng-model="routin.selection[routin.getClassIdentifier(day, period, claz)].teacher"
                                ng-options="teacher as teacher.shortName for teacher in routin.teachers"></select></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>


<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/lodash/dist/lodash.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="scripts/app.js"></script>
<script src="scripts/controllers/routin.js"></script>
</body>
</html>